<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Latest Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h3>{{ mars_data.news_title }}</h3>
    <h4>{{ mars_data.news_p }}</h4>
  </div>

  <div class="container">
    <div class="row">

        <div class="col-lg-8">
            <h2>Featured Mars Image</h2>
            <img src="{{ mars_data.featured_image_url }}" alt="Featured Mars Image">
        </div>

        <div class="col-lg-4">
            <div class="row" style="outline: auto">
                <h3>Current Weather on Mars</h3>
                <h4>{{ mars_data.mars_weather }}</h4>
            </div>
            <div class="row">
                <h3>Mars Facts</h3>
                <p>{{ mars_data.mars_fact_html_table}}</p>
            </div>
        </div> 

    </div>
  </div>

  <h1>{{ mars_data.hemisphere_image_urls }}</h1>


              

</body>

</html>
